# Auto detect text files and perform LF normalization
* text=auto

# Force specific files to use LF
*.py text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.env* text eol=lf

# Binary files
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary 